<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Millionaire</title>
    <link rel="stylesheet" href="/css/game_style.css" >
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
</head>

<body>
    <header id="header">
        <div id ="leftHeader">
            <label id="userName"><%=userName%> </label>
            <div>
                <label>Вопрос: </label>
                <label id ="questionNumber">1</label><br>
            </div>
            <div>
                <label>Счёт:</label>
                <label id = "score">0</label>
            </div>
        </div>
        <div id="timer">
            30
        </div>
        <div id ="rightHeader">
            <button id = "fiftyfifty"></button>
            <button id = "callFriend"></button>
        </div>


    </header>
    <div id="content">
        <div id="question"></div>
        <div id = "answersContainer">
            <button class="answer">a1</button>
            <button class="answer">b1</button>
            <button class="answer">d1</button>
            <button class="answer">c1</button>
        </div>


    </div>
    <footer id = "footer">
        <form method="get"  action="/gg">
            <input type="submit" id="end" style="visibility: hidden" value="End the game">
        </form>
    </footer>
</body>
<script src="/js/client.js" type="module" ></script>

</html>