<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Millionaire</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
    <h1 id="userName"><%=userName%> </h1>
    <label>
        Score:
        <p id = "score">0</p>
    </label>
    <p id="questionNumber">Вопрос номер 1!</p>
    <textarea id="question"></textarea>
    <button class="answer">a1</button>
    <button class="answer">b1</button>
    <button class="answer">d1</button>
    <button class="answer">c1</button>
    <button id = "fiftyfifty">50 на 50</button>
    <button id = "callFriend">Звонок другу</button>
    <div class="timer-container">
        <label for="timer">Секунд</label>
        <p class="timer" id="timer">5</p>
    </div>

</body>
<script src="client.js" type="module"></script>

</html>