<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Millionaire</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>

<table border="1" width="100%" cellpadding="5">
    <tr>
        <th>Место</th>
        <th>Имя</th>
        <th>Очки</th>
    </tr>
    <% for (var i = 0; i < 15; i++) { %>
        <tr>
            <td><%= data[i].place %></td>
            <td><%= data[i].name %></td>
            <td><%= data[i].score %></td>
        </tr>
    <% } %>
</table>
<button>
    Начать игру заново
</button>

</body>


</html>