<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Millionaire</title>
    <link rel="stylesheet" href="/css/start_style.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>


<body>

    <div id ="wrapper">
        <form method="get" action="/game">

            <div>
                <input name="name" id="name" placeholder="Никнейм" required>
            </div>
            <div>
                <input class="start" type="submit" id="start" value="Начать игру">
            </div>


        </form>
    </div>


</body>


</html>