body {
    background: linear-gradient(to right, #4b2c7d, #2c558e,#4b2c7d);
    background: linear-gradient(to right, #341a63, #2e507f, #341a63);

    font-size: 30px;
    font-family: 'Helvetica Neue', sans-serif;
    color: #ffffff;

}
#wrapper #start,
#wrapper #name{
    font-family:'Helvetica Neue', sans-serif ;
}

#wrapper #start{
    width: 39%;
    height:6%;
    margin-left: 31%;
    margin-top: 3%;
    font-size: 25px;
    border-radius:10px;
    background-color: #eec15d;
    cursor: pointer;

}
#wrapper #name{
    font-size: 40px;
    width: 45%;
    height:6%;
    margin-left: 27%;
    margin-top: 35%;
    text-align: center;
}
#wrapper{
    display: flex;
    flex-direction: column;
    justify-content:center;
    background: url("/images/main.png") no-repeat top;
    background-size: 800px 800px;
    height: 800px;
    width: 800px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
#photo{
    height: 800px;
    width: 800px;
    background: url("/images/main.png") no-repeat top;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

}